*, *::before, *::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --fw-med: 400;
    --color-light: #ffffff;
    --color-dark: #303030;
    --color-accent: #00ffd5;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.125rem;
    --fs-body: 1rem;
    --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
    .root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.15rem;
        --fs-body: 1.125rem
    }
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-light);
    color: var(--color-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--color-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--color-accent);
    color: var(--color-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.linkText {
    color: var(--color-accent);
    font-weight: var(--fw-bold);
    text-decoration: none;
    transition: transform 200ms ease-in-out;
}

.homePageLinkText {
    align-items: center;
    justify-content: center;
    color: var(--color-dark);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-decoration: none;
}

.homePageLinkText:hover {
    opacity: 0.8;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: 0.25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__title--about {
    max-height: 50px;
}

.section__subtitle--about {
    font-size: var(--fs-h4);
}

.section__subtitle--intro, .section__subtitle--about {
    background: var(--color-accent);
    padding: 0.25em 1em;
    font-family: var(--ff-secondary);
    font-size: 25px;
}

/* Header */

header {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */

/* *Toggle to enable sticky header */

.logo {
    max-width: 200px;
}

.nav {
    position: fixed;
    background: var(--color-dark);
    color: var(--color-light);
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
    display: inline-block;
    transition: transform 150ms ease-in-out;
}

.nav__link:focus, .nav__link:hover {
    color: var(--color-accent);
    transform: scale(1.1);
}

/* Hamburger */

.nav-toggle {
    padding: 0.55em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1.5em;
    top: 1.5em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(0.625turn);
    background: var(--color-accent);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
    background: var(--color-accent);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger, .hamburger::before, .hamburger::after {
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
    background: var(--color-dark);
}

.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

/* Intro Section */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--box-shadow);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
        max-height: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro {
        align-self: start;
        margin-left: 5px;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        font-size: 30px;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* My Projects Section */

.my-projects {
    background-color: var(--color-dark);
    background-image: url(../img/favProjectsBg.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    /* TODO: Uncomment if needed (make fav projects bg darker */
    color: var(--color-light);
    text-align: center;
}

.section__title--projects {
    color: var(--color-accent);
    position: relative;
}

.section__title--projects::after {
    content: "";
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto;
    background: var(--color-light);
    opacity: 0.45;
}

.projects {
    margin-bottom: 4em;
}

.project {
    font-weight: var(--fw-med);
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .projects {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .project+.project {
        margin-left: 2em;
    }
}

/* About-me section */

.about-me {
    font-weight: var(--fw-reg);
    max-width: 1000px;
    margin: 0 auto;
}

.about-me--portrait {
    box-shadow: var(--box-shadow);
}

@media (min-width: 900px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img" "text img";
        grid-column-gap: 2em;
    }
    .section__title--about {
        grid-area: title;
    }
    .section__subtitle--about {
        padding-top: 0px;
        margin-top: 0px;
        max-height: 50px;
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 2em);
    }
    .about-me--portrait {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Projects */

.my-work {
    background-color: var(--color-dark);
    color: var(--color-light);
    text-align: center;
}

.section__subtitle--work {
    color: var(--color-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item, .img__description_layer {
    overflow: hidden;
}

.img__wrap {
    position: relative;
}

.img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-dark);
    color: var(--color-light);
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    transition: opacity 300ms, visibility 300ms;
}

.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 0.8;
}

.img__description {
    transition: 300ms;
    transform: translateY(1em);
}

.img__wrap:hover .img__description {
    transform: translateY(0);
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

/* Footer */

.footer {
    background: #111;
    color: var(--color-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover, .social-list__link:hover, .linkText:hover {
    opacity: 0.7;
}

.footer__link:hover, .linkText:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item, .fa-envelope-open-text, .fa-home {
    margin: 0.5em;
}

.social-list__links {
    padding: .5em;
}